body {
	font-family: 'Inter', sans-serif;
	background-color: #ffff;
}
/* Navbar */
.navbar {
	background-color: #231166 !important;
}
.navbar .nav-item {
	margin: 0 !important;
	padding: 0 !important;
}
.navbar .nav-item .nav-link {
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin: 0 15px;
	padding: 0;
	transition: all 0.4s ease-in-out;
}

.navbar .nav-item .nav-link:hover {
	color: #e4662b;
}

.navbar .nav-item .nav-link.active {
	color: #e4662b;
}

/* Hero */
.hero {
	background-color: #231166;
	color: #ffff;
	height: 74.2vh;
	border-radius: 0px 0px 80px 80px;
}

.hero-left {
	border-radius: 0px 0px 80px 80px;
}
.hero-underline {
	color: #e4662b;
	border-bottom: 1px #ffff solid;
	border-bottom-left-radius: -10px;
}
.hero-social {
	background-color: #e4662b;
}

.hero-social .social-icon {
	color: #ffff;
}

/* Vehicle insurance section */
.vehicle {
}
.btn-1 {
	color: #29166f;
	border: #231166 solid 2px;
}

.btn-1:hover {
	background-color: #231166;
	color: #ffff;
	border: #231166 solid 2px;
}

.btn-2 {
	color: #e4662b;
	border: #e4662b solid 2px;
}

.btn-2:hover {
	background-color: #e4662b;
	color: #ffff;
	border: #e4662b solid 2px;
}

/* Footer  */
footer {
	background-color: #363839;
}
